header{
  background-color: #dbb46d;
  font-size: 50px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  border-style: solid;
  padding: 50px;

}
section#left_section{
    float: left;
    width: 40%;
    /*height: 390px;*/
    background-color:#a9b4d8;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    margin-top: 40px;
    border-radius: 10px;
    margin-left: 30px;
    padding: 20px;


}

br{ clear:both; }
.pato {
  border-style: solid;
  margin-top: 40px;
  max-width: 285px;
  margin-left: 15%;
  border-radius: 20px;
}
#right_section{
    width: 35%;
    padding: 20px;
    /*height: 270px;*/
    background-color:#a9b4d8;
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    margin-right: 100px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 5%;
    display: inline-block;
}

#middle_section{
  width: 40%;
  margin-top: 40px;
  /*height: 410px;*/
  background-color:#a9b4d8;
  font-size: 19px;
  margin-left: 30px;
  font-family: 'Raleway', sans-serif;
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
}

footer {
    text-align: center;
    margin-top: 2%;
}
html {
    background-color:background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f3f2), to(#967433));
    background-image: -webkit-linear-gradient(top, #f4f3f2, #967433);
    background-image: -moz-linear-gradient(top, #f4f3f2, #967433);
    background-image: linear-gradient(to bottom, #f4f3f2, #967433);
}

ul, li {
  list-style-type: none;
}

.foods {
  font-size: 50px;
}

.food_list {
  font-size: 28px;
  list-style-type: none;
  margin-bottom: 15%;
}

.activities {
  font-size: 50px;
}

.act_list {
  list-style-type: none;
  font-size: 28px;
}
